{% extends "base.html" %}


{% block content %}

      <!-- Three columns of text below the carousel -->
      <div class="row">
      
      {% for topUser in users %}

        <div class="col-lg-2">
          <img class="img-circle" src="{{topUser.image.url}}" alt="Generic placeholder image" width="140" height="140">
          <h2>{{topUser.user.first_name}}</h2>
          <p>
              {{topUser.user.email}}
          </p>
          <p><a class="btn btn-default" href="{% url 'articles:userArticles' %}" role="button">View Articles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
          
      {% endfor %} 

      </div><!-- /.ro -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

{% if not user.is_staff or not user.is_superuser %}
    {% for article in articles %}
    {% if article.publish and article.approved %}

  {% if forloop.counter|divisibleby:2 %}
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="{% url 'articles:details' id=article.id %}">{{article.title}}</a></h2>
          <small>{{article.publish_date|timesince}} ago</small><br />
          {% if article.author.get_full_name %}
              <p>Author: {{article.author.get_full_name}} </p>
              {% else %}
              <p>Author: {{article.author.get_full_name}} </p>
          {% endif %}

          <h3><span class="text-muted">{{article.description}}</span></h3>
          <p class="lead">{{article.body|linebreaks|truncatechars:120}}</p>
        <p><a class="btn btn-default" href="{{article.get_absolute_url}}" role="button">View details &raquo;</a></p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% if article.image %} {{article.image.url}} {% endif %}" alt="Generic placeholder image">
        </div>
    

    </div>      

      <hr class="featurette-divider">

{% else %}

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><a href="{% url 'articles:details' id=article.id %}">{{article.title}}</a></h2>
          <small>{{article.publish_date|timesince}} ago</small><br />
          {% if article.author.get_full_name %}
              <p>Author: {{article.author.get_full_name}} </p>
              {% else %}
              <p>Author: {{article.author.get_full_name}} </p>
          {% endif %}

          <h3><span class="text-muted">{{article.description}}</span></h3>
          <p class="lead">{{article.body|linebreaks|truncatechars:120}}</p>
        <p><a class="btn btn-default" href="{{article.get_absolute_url}}" role="button">View details &raquo;</a></p>

        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% if article.image %} {{article.image.url}} {% endif %}" alt="Generic placeholder image">
        </div>
    

    </div>      

      <hr class="featurette-divider">
      {% endif %}
      {% endif %}
    {% endfor %}

{% else %}

  {% for article in articles %}


  {% if forloop.counter|divisibleby:2 %}

<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><a href="{% url 'articles:details' id=article.id %}">{{article.title}}</a></h2>
          {% if article.publish %}

              {% if article.approved %}
              <span style="color:lightgreen;"><b>Approved: </b></span>
              {% else %}
              <span style="color:orange;"><b>Not Approved: </b></span>
              {% endif %}

          <span style="color:green;"><b>Published: </b></span>
          {% else %}

              {% if article.approved %}
              <span style="color:lightgreen;"><b>Approved: </b></span>
              {% else %}
              <span style="color:orange;"><b>Not Approved: </b></span>
              {% endif %}

          <span style="color:red;"><b>Draft: </b></span>
          {% endif %}

          <small>{{article.publish_date|timesince}} ago</small><br />
          {% if article.author.get_full_name %}
          <p>Author: {{article.author.get_full_name}} </p>
          {% else %}
          <p>Author: {{article.author.get_full_name}} </p>
          {% endif %}

          <h3><span class="text-muted">{{article.description}}</span></h3>
          <p class="lead">{{article.body|linebreaks|truncatechars:120}}</p>
 <p><a class="btn btn-default" href="{{article.get_absolute_url}}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% if article.image %} {{article.image.url}} {% endif %}" alt="Generic placeholder image">
        </div>
       
    

    </div>      

      <hr class="featurette-divider">

      {% else %}

    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="{% url 'articles:details' id=article.id %}">{{article.title}}</a></h2>
          {% if article.publish %}

              {% if article.approved %}
              <span style="color:lightgreen;"><b>Approved: </b></span>
              {% else %}
              <span style="color:orange;"><b>Not Approved: </b></span>
              {% endif %}

            <span style="color:green;"><b>Published: </b></span>
          {% else %}

              {% if article.approved %}
              <span style="color:lightgreen;"><b>Approved: </b></span>
              {% else %}
              <span style="color:orange;"><b>Not Approved: </b></span>
              {% endif %}

            <span style="color:red;"><b>Draft: </b></span>
          {% endif %}

          <small>{{article.publish_date|timesince}} ago</small><br />

          {% if article.author.get_full_name %}
              <p>Author: {{article.author.get_full_name}} </p>
              {% else %}
              <p>Author: {{article.author.get_full_name}} </p>
          {% endif %}

          <h3><span class="text-muted">{{article.description}}</span></h3>
          <p class="lead">{{article.body|linebreaks|truncatechars:120}}</p>
<p><a class="btn btn-default" href="{{article.get_absolute_url}}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% if article.image %} {{article.image.url}} {% endif %}" alt="Generic placeholder image">
        </div>
        
    

    </div>      

      <hr class="featurette-divider">

{% endif %}
      


    {% endfor %}

{% endif %}


<nav>
  
<div class="pagination">

    <span class="step-links">
    <ul class="pager">
        {% if articles.has_previous %}
           <li> <a href="?page={{ articles.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <li> <a href="?page={{ articles.next_page_number }}">next</a></li>
        {% endif %}
      </ul>
    </span>
</div>
</nav>

    <a href="{% url 'articles:create' %}" class="btn menu addBtn js-jumbo" id="addProductBtn">+ Add Article</a>

{% endblock content %}




      <!-- <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
