<!-- Static NavBar -->

<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="navbar-brand" href="{% url 'articles:home' %}">DragonDevs Blog</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

                {% if user.is_authenticated %}
                <li class="dropdown nav navbar-nav navbar-right">

                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}}  <img src="{{loggedUser.image.url}}" id="profile-img" class="profile-image img-circle"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'articles:profile' %}">Profile</a></li>
                    <li><a href="{% url 'articles:userArticles' %}">My Articles</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/accounts/logout/">Log out</a></li>
                  </ul>

                </li> 
                {% else  %} 
                <li><a href="/accounts/login/"  aria-expanded="true">Login |</a></li><li><a href="{% url 'articles:register' %}"  aria-expanded="true">Sign Up</a></li>  
                {% endif %}
              </ul>
            </div>

          </div>
        </nav>

      </div>
    </div>